@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0, 85%, 60%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 35%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 90%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0, 85%, 60%;
    --radius: 0.5rem;
    --light: 2, 81%, 94%;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 85%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0, 85%, 60%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 7%;
    --secondary-foreground: 0 0% 55%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 14.9%;
    --ring: 0, 85%, 60%;
    --light: 0 72.2% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-secondary-foreground;
  }
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-border rounded-full my-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#ff3636];
}

h1 {
  font-size: 48px;
  font-weight: bold;
  @apply text-foreground;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  @apply text-foreground;
}
h3 {
  font-size: 24px;
  font-weight: 500;
  @apply text-foreground;
}
h4 {
  font-size: 20px;
  @apply text-foreground;
}
.body-bold {
  font-size: 16px;
  font-weight: bold;
}
.small {
  font-size: 13px;
}
.small-bold {
  font-size: 13px;
  font-weight: bold;
}

/* Custom CSS */
.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 3px;
  display: none;
}
.scrollbar:hover .scrollbar-thin::-webkit-scrollbar {
  display: block;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 dark:bg-zinc-600 rounded-full;
}
.text-stroke {
  text-shadow: -1px -1px 0 #f04242, 1px -1px 0 #f04242, -1px 1px 0 #f04242,
    1px 1px 0 #f04242;
}
.clip-custom {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
