@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 0 85% 60%;
  --primary-light: 2 81% 94%;
  --light: 0 0 75%;
  --white: 0 0 98%;
  --black: 0 0 21%;
  --background: 0 85% 60% 30%;
}

.bg-gradient {
  background: linear-gradient(to bottom, #f04242, #ec1313);
}

.active {
  color: #f04242;
}
